.list-page {
    border: $border-width-and-shape lumx-color-variant('dark', 'N');
    border-top: none;
    min-height: calc(100vh - 106px - $big-gap); // total view height MINUS header height MINUS flex gap
}

.list-container {
    max-width: 960px;
    margin: auto;
    padding: $big-gap 0;
    display: flex;
    flex-flow: column nowrap;
    gap: $big-gap;
}